svg {
    font: 10px sans-serif;
    padding: 10px;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

/*.div row align-items-center{*/
/*    position: absolute;*/
/*    left: 50vw;*/
/*}*/

#ordering_buttons{
    position: fixed;
    align-self: self-start;
    right: 12vw;
}
.button_title{
    text-align: left;
}

#intersection_filter{
    position: fixed;
    top: 8vh;
    right: 1vw;
    align-self: self-end;
}

#separation_filter{
    position: fixed;
    top: 28vh;
    right: 1vw;
    align-self: self-end;
}

