/*body {*/
/*    overflow: hidden;*/
/*    margin: 0;*/
/*}*/
/*canvas {*/
/*    width: 25%;*/
/*    height: 25%;*/
/*}*/

/*#myEmbeddedScene{*/
/*    width: 25%;*/
/*    height: 25%;*/
/*}*/

/*#mainScene{*/
/*    width: 50%;*/
/*}*/
/*#mainScene {*/
/*    height: 300px;*/
/*    width: 1200px;*/
/*}*/


#volumes_1{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40vw;
    top: 0vh;
    width: 30vw;
    height: 50vh;
    /*z-index: 0;*/
}
#volumes_2{
     display: flex;
     flex-direction: row;
     position: absolute;
     left: 40vw;
     top: 25vh;
     width: 30vw;
     height: 50vh;
     /*z-index: 0;*/
 }
#chart{
    /*z-index: 2;*/
}

#container{
    /*position: absolute;*/
    /*left: 50vw;*/
    /*top: 50vh;*/
    width: 25vw;
    height: 25vh;
}
#container canvas {
    position: unset;
}
#containerInfo{
    position: relative;
    top: 4vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#containerInfo_2{
    position: relative;
    top: 12vh;
    width: 100%;
    text-align: left;
    z-index: 100;
    display:block;
}
#container2Info{
    position: relative;
    top: 4vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#container2Info_2{
    position: relative;
    top: 12vh;
    width: 100%;
    text-align: left;
    z-index: 100;
    display:block;
}


#container3Info{
    position: relative;
    top: 4vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#container3Info_2{
    position: relative;
    top: 12vh;
    width: 100%;
    text-align: left;
    z-index: 100;
    display:block;
}
#container2{
    /*position: absolute;*/
    /*left: 50vw;*/
    /*top: 50vh;*/
    width: 25vw;
    height: 25vh;
}
#container2 canvas {
    position: unset;
}
#container3{
    /*position: absolute;*/
    /*left: 50vw;*/
    /*top: 50vh;*/
    width: 25vw;
    height: 25vh;
}
#container3 canvas {
    position: unset;
}

#container4{
    /*position: absolute;*/
    /*left: 50vw;*/
    /*top: 50vh;*/
    width: 25vw;
    height: 25vh;
}
#container4 canvas {
    position: unset;
}
#container4Info{
    position: relative;
    top: 4vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#container4Info_2{
    position: relative;
    top: 12vh;
    width: 100%;
    text-align: left;
    z-index: 100;
    display:block;
}
/*.volume{*/
/*    position: relative;*/
/*    height: 0;*/
/*    width: 100%;*/
/*    padding-top: 56.25%;}*/

/*#mainScene{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
